.article-card {
	background-color: #ffffff;
	padding: 8px;
	border-radius: 8px;

	border: solid 1px #bacdd8;
}

.card__details {
	padding: 16px 8px 8px 8px;
}

.card-link {
	text-decoration: none;
	color: black;
}

.card-link:focus,
.card-link:hover {
	color: gray;
}

.tag {
	padding: 4px 8px;
	border: solid 1px #e5eaed;
	border-radius: 6px;

	font-size: 12px;
	font-weight: 600;

	color: white;
	background-color: #18c6ac;
}

.name {
	font-size: 24px;
	font-weight: 600;
	margin-top: 16px;
}
