.article-card {
	background-color: #ffffff;
	padding: 8px;
	border-radius: 8px;

	border: solid 1px #bacdd8;

	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.card__details {
	padding: 16px 8px 8px 8px;
}

.tag {
	padding: 4px 8px;
	border: solid 1px #e5eaed;
	border-radius: 6px;

	font-size: 12px;
	font-weight: 600;

	color: #788697;
}

.name {
	font-size: 24px;
	font-weight: 600;
	margin-top: 16px;
}
